body {
    background-color: #0f172a;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
button {
    padding: 12px 20px;
    margin: 8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    opacity: 0.8;
}