body {
    margin: 0;
    background: #f1f5f9;
    color: #6a7a9e;
    font-family: 'Segoe UI', sans-serif;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
button {
    padding: 12px 20px;
    margin: 8px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
    opacity: 0.8;
}
.header {
    position: sticky;
    top: 0;
    width: 100%;
    background: linear-gradient(90deg, #020617, #0f172a);
    z-index: 1000;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
}

.header-container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 18px 50px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    max-width: 1100px;   /* sayfanın genişliği */
    margin: 0 auto;      /* yatay ortalama */
    padding: 20px;
}

.section {
    margin-top: 60px;
}
.card {
    background: #7b88a5;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 20px 50px rgba(0,0,0,0.6);
}
.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

